/* Global Styles */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
body {
  font-family: "Mulish", sans-serif;
  background: #fff;
}

button {
  cursor: pointer;
  transition: 0.2s ease-out all;
}
.readmore:hover,
.booknow:hover,
.seemorepkg:hover {
  background: #ffffff00;
  color: #ff5400;
  border: 1px solid #ff5400;
}

/* Header related Styles */

header {
  margin: 50px 135px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.nav-title h2 {
  color: #131318;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.color-nav-title {
  color: #ff5400;
}

nav ul {
  display: flex;
  gap: 44px;
}

a {
  text-decoration: none;
  color: unset;
}

nav .home-menu {
  color: #ff5400;
  font-weight: 700;
}

nav li {
  list-style: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease-out all;
}
nav li:hover {
  color: #ff5400;
}
.nav-bar {
  display: none;
}

/* Header BAnner related Styles */
header .banner {
  background-image: url("../Images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 16px;
}

.banner-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 106px 185px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 16px;
}

.banner-content {
  text-align: center;
}

.banner-content h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.banner-content p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.banner-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.banner-input input[type="text"] {
  font-family: "Mulish", sans-serif;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  padding: 16px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-input select {
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-input .submit {
  width: 100%;
  border-radius: 8px;
  background: #ff5400;
  padding: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

/* Popular Tours Related Styles*/
.p-tour {
  margin: 100px 135px;
  display: flex;
  justify-content: space-between;
  gap: 53px;
}

.p-tour-content {
  flex-basis: 60%;
}

.p-tour-img {
  flex-basis: 40%;
}

/* .p-tour-img img {
    width: 100%;
} */

.p-tour-content h2 {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.p-tour-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.p-tour-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 14px;
  margin-bottom: 24px;
}

.p-tour-content ul li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.p-tour-content .p-tour-des {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.readmore {
  padding: 14px 34px;
  color: #fff;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  margin-bottom: 0;
}
/* Destination related Styles */

.gallery {
  margin: 100px 135px;
}

.gallery .content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.gallery .content h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.gallery .content p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.gallery-item .first {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}

.first .one,
.first .two {
  flex-basis: 50%;
}

.first .one {
  border-radius: 17px;
  background-image: url("../Images/Rectangle 5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.first .two {
  border-radius: 17px;
  background-image: url("../Images/Rectangle 8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.first h2 {
  margin: 132px 226px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.gallery-item .second {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}

.second .one {
  flex-basis: 30%;
  border-radius: 17px;
  background-image: url("../Images/Rectangle 6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.second .two {
  flex-basis: 45%;
  border-radius: 17px;
  background-image: url("../Images/Rectangle 7.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.second .three {
  flex-basis: 25%;
  border-radius: 17px;
  background-image: url("../Images/Rectangle 9.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.second .sri {
  margin: 125px 130px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.second .us {
  margin: 125px 137px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.second .kashmir {
  margin: 125px 80px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.gallery-item .third {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.third .one {
  flex-basis: 40%;
  border-radius: 17px;
  background-image: url("../Images/Rectangle 11.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.third .two {
  flex-basis: 60%;
  border-radius: 17px;
  background-image: url("../Images/Rectangle 10.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.third .ban {
  margin: 132px 155px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.third .band {
  margin: 132px 260px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* Why Choose us related Styles */
.why-choose-us {
  margin: 0 135px;
  margin-bottom: 50px;
}

.why-choose-us .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.why-choose-us .content h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.why-choose-us .content p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.why-choose-us .boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.why-choose-us .box {
  padding: 32px;
}

.why-choose-us .box img {
  margin-bottom: 24px;
}

.why-choose-us .box h3 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}

.why-choose-us .box p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.box1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.box2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.box3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.second-line-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 24px) / 2);
  margin: 0 auto;
}
/* Deals & Discounts related Styles */
.deals {
  margin: 100px 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 24px;
}

.deals-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.deals-content h2 {
  margin-bottom: 24px;
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deals-content p {
  margin-bottom: 24px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.deal {
  padding: 56px;
}

.deal1 {
  background-image: url("../Images/Group 39.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
}

.deal-item {
  flex-basis: 55%;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.deal-item span {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.deal-item h3 {
  margin-top: 26px;
  margin-bottom: 16px;
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deal-item p {
  margin-bottom: 16px;
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.deal-item .price {
  color: #ff5400;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.booknow {
  border-radius: 8px;
  background: #ff5400;
  padding: 13px 24px;
  color: #fff;
  font-family: "Mulish", sans-serif;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deal2 {
  background-image: url("../Images/Group 40.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
}

.deal3 {
  background-image: url("../Images/Group 39.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
}

.seemorepkg {
  width: fit-content;
  margin: 0 auto;
  margin-top: 24px;
  padding: 14px 21px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
/* Testimonial related Styles */
.testimonial {
  margin: 0 135px;
  border-radius: 16px;
  margin-bottom: 50px;
}

.testimonial h2 {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 5px;
}

.testimonial p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.testimonial .cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.testimonial .cards .card {
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 8px;
  flex-basis: 33.33333333333333%;
  transition: 0.3s ease-in-out all;
}

.testimonial .cards .card:hover {
  box-shadow: 0 0 70px #ddd;
}

.testimonial .cards .card h3 {
  color: #133240;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 14px;
}

.testimonial .card img {
  margin-bottom: 14px;
}

.testimonial .card .color {
  margin-bottom: 5px;
  color: #ff5400;
}
/* Perfect Place related Styles */
.perferct-place {
  margin: 0 135px;
  margin-top: 100px;
}

.perferct-place .container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.container .text {
  flex-basis: 50%;
}

.container .img {
  flex-basis: 50%;
}

.container .img img {
  width: 100%;
}

.container .img h3 {
  position: relative;
  bottom: 50%;
  width: 50%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.container .text h2 {
  width: 80%;
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 24px;
}

.container .text p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.container .text ul {
  margin-left: 14px;
}

.container ul li {
  color: #131318;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

.seemore {
  margin-top: 16px;
}
/* Newsletter related Styles */
.newsletter {
  margin: 50px 135px 0 130px;
}

.newsletter-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.newsletter-container .subscribe-box {
  flex-basis: 45%;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
  height: fit-content;
}

.subscribe-box h3 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}

.subscribe-box p {
  width: 90%;
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.subscribe-box .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-box input {
  display: block;
  width: 100%;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 16px 20px;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.subscribe-box input[type="submit"] {
  margin-top: 8px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 8px;
  background: #ff5400;
  margin-bottom: 18px;
  transition: 0.2s ease-out all;
}
.subscribe-box input[type="submit"]:hover {
  background: #ffffff00;
  color: #ff5400;
  border: 1px solid #ff5400;
}
.subscribe-box input[type="submit"]:hover {
  cursor: pointer;
}

.newsletter-container .img {
  flex-basis: 55%;
}

.newsletter-container .img img {
  width: 100%;
  height: 422px;
}

.newsletter-container .img .move {
  position: relative;
  left: 50%;
  bottom: 180px;
  width: 50%;
  padding: 17px 20px;
  border-radius: 16px;
  background: #ff5400;
  transform: rotate(-30deg);
}

.newsletter .img .move h5 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

.newsletter-container .img .move h4 {
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* Footer Related Styles */
footer {
  background: rgba(19, 19, 24, 0.05);
  padding: 110px 135px 50px 135px;
}

.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.foot-title h2 {
  margin-bottom: 15px;
  color: #131318;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.foot-title img {
  margin-bottom: 10px;
}

.footer-area p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 33px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hr {
  margin: 50px 0;
  border-bottom: 1px solid rgba(19, 19, 24, 0.1);
  width: 60%;
}

.copy {
  margin-bottom: 0;
  color: #131318;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
/*  Media Queries */

/* Mobile Devices */
@media screen and (max-width: 576px) {
  .nav-bar {
    display: block;
  }

  nav ul {
    display: none;
  }

  .nav-title h2 {
    font-size: 21.543px;
  }

  .nav-title img {
    width: 28.724px;
    height: 33.516px;
  }

  header {
    margin: 50px 20px;
  }

  header .banner {
    height: auto;
    border-radius: 16px;
  }

  .banner-area {
    padding: 32px 24px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-content h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .banner-content p {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .banner-input {
    width: 100%;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }

  /* Poplar Tour Section */
  .p-tour {
    margin: 30px 20px;
    flex-direction: column;
    gap: 25px;
  }

  .p-tour-content {
    flex-basis: 100%;
  }

  .p-tour-img {
    flex-basis: 100%;
  }

  .p-tour-img img {
    width: 100%;
  }

  .p-tour-content h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .p-tour-content p {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .p-tour-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 14px;
    margin-bottom: 16px;
  }

  .p-tour-content ul li {
    font-size: 14px;
  }

  .p-tour-content .p-tour-des {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .readmore {
    font-size: 20px;
  }

  /* Destination Section */

  .gallery {
    margin: 30px 20px;
  }

  .gallery .content {
    width: 100%;
  }

  .gallery .content h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .gallery .content p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .gallery-item .first,
  .second,
  .third {
    flex-direction: column;
  }

  .first .one,
  .first .two,
  .second .one,
  .second .two,
  .second .three,
  .third .one,
  .third .two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .first h2 .sri,
  .us,
  .kashmir,
  .ban,
  .band {
    width: fit-content;
    margin: 0;
  }

  /* Why Choose US section */
  .why-choose-us {
    margin: 30px 20px;
  }

  .why-choose-us .content {
    width: 100%;
  }

  .why-choose-us .content h2 {
    font-size: 30px;
  }

  .why-choose-us .content p {
    font-size: 14px;
  }

  .why-choose-us .boxes {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;
  }

  .second-line-box {
    flex-direction: column;
    width: 100%;
  }

  /* Deals & Discount Section */
  .deals {
    margin: 30px 20px;
    gap: 24px;
  }

  .deal1,
  .deal2,
  .deal3 {
    flex-direction: column;
    padding: 16px;
  }

  .deal2 {
    justify-content: flex-end;
  }

  .deal-item {
    padding: 25px;
  }

  .deal-item h3 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .deal-item p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .deals-content {
    width: 90%;
  }

  .deals-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .deals-content p {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .seemorepkg {
    font-size: 16px;
  }

  /* Testimonial Section */

  .testimonial {
    margin: 30px 20px;
  }

  .testimonial h2 {
    font-size: 30px;
    line-height: 34px;
  }

  .testimonial .cards {
    flex-direction: column;
  }

  .testimonial .cards .card {
    padding: 16px;
    width: 100%;
  }

  .testimonial .cards .card h3 {
    font-size: 20px;
  }

  .testimonial .cards .card p {
    font-size: 14px;
  }

  /* Perfect Place Section */

  .perferct-place {
    margin: 30px 25px;
  }

  .perferct-place .container {
    flex-direction: column;
  }

  .container .text,
  .container .img {
    flex-basis: 100%;
  }

  .container .img h3 {
    font-size: 20px;
    width: 80%;
    position: relative;
    bottom: 190px;
  }

  .container .text h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .container .text p {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .container .text li {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .seemore {
    font-size: 20px;
  }

  /* Newsletter Section */

  .newsletter {
    margin: 30px 20px;
  }

  .newsletter-container {
    flex-direction: column;
  }

  .newsletter .subscribe-box,
  .newsletter .img {
    width: 100%;
  }

  .newsletter .subscribe-box {
    padding: 24px;
  }

  .newsletter-container .img .move {
    left: 45%;
    bottom: 120px;
    width: 50%;
    height: 79.268px;
    transform: rotate(-19deg);
  }

  .newsletter-container .img .move h4 {
    font-size: 17px;
  }

  .newsletter-container .img .move h5 {
    font-size: 12px;
  }

  /* Footer Section */
  footer {
    width: auto;
    padding: 50px 44px 20px 44px;
  }

  .footer-area p {
    width: 100%;
    font-size: 14px;
  }
  .foot-title {
    gap: 8px;
  }
  .foot-title h2 {
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 0;
  }

  .foot-title img {
    width: 28.724px;
    height: 33.516px;
  }
  hr {
    margin: 24px 0;
  }
}
/* Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .nav-bar {
    display: block;
  }

  nav ul {
    display: none;
  }

  header {
    margin: 50px 20px;
  }

  header .banner {
    height: auto;
    border-radius: 16px;
  }

  .banner-area {
    padding: 32px 24px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-content h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .banner-content p {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .banner-input {
    width: 100%;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }

  /* Popular Tour Section */
  .p-tour {
    margin: 30px 20px;
    flex-direction: column;
    gap: 25px;
  }

  .p-tour-content {
    flex-basis: 100%;
  }

  .p-tour-img {
    flex-basis: 100%;
  }

  .p-tour-img img {
    width: 100%;
  }

  .p-tour-content h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .p-tour-content p {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .p-tour-content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 14px;
    margin-bottom: 16px;
  }

  .p-tour-content ul li {
    font-size: 16px;
  }

  .p-tour-content .p-tour-des {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .readmore {
    font-size: 20px;
  }

  /* gallery started */

  .gallery {
    margin: 30px 20px;
  }

  .gallery .content {
    width: 100%;
  }

  .gallery .content h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .gallery .content p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .gallery-item .first,
  .second,
  .third {
    flex-direction: column;
  }

  .first .one,
  .first .two,
  .second .one,
  .second .two,
  .second .three,
  .third .one,
  .third .two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
  }

  .first h2 .sri,
  .us,
  .kashmir,
  .ban,
  .band {
    width: fit-content;
    margin: 0;
  }

  /* Why Choose Us SectionS */
  .why-choose-us {
    margin: 30px 20px;
  }

  .why-choose-us .boxes {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;
  }

  .second-line-box {
    flex-direction: column;
    width: 100%;
  }

  /* Deals & Discount Section*/
  .deals {
    margin: 30px 20px;
    gap: 24px;
  }

  .deal1,
  .deal2,
  .deal3 {
    flex-direction: column;
    padding: 16px;
  }

  .deal2 {
    justify-content: flex-end;
  }

  .deal-item {
    padding: 25px;
  }

  .deal-item h3 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .deal-item p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .deals-content {
    width: 90%;
  }

  .deals-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .deals-content p {
    font-size: 14px;
    margin-bottom: 16px;
  }

  /* Testimonial Section */

  .testimonial {
    margin: 30px 20px;
  }

  .testimonial h2 {
    font-size: 30px;
    line-height: 34px;
  }

  .testimonial .cards {
    flex-direction: column;
  }

  .testimonial .cards .card {
    padding: 16px;
    width: 100%;
  }

  .testimonial .cards .card h3 {
    font-size: 20px;
  }

  .testimonial .cards .card p {
    font-size: 14px;
  }

  /* Perfect Place Section */

  .perferct-place {
    margin: 30px 25px;
  }

  .perferct-place .container {
    flex-direction: column;
  }

  .container .text,
  .container .img {
    flex-basis: 100%;
  }

  .container .img h3 {
    font-size: 30px;
    width: 80%;
    position: relative;
    bottom: 350px;
  }

  .container .text h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .container .text p {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .container .text li {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .seemore {
    font-size: 20px;
  }

  /* Newsletter Section */

  .newsletter {
    margin: 30px 20px;
  }

  .newsletter-container {
    flex-direction: column;
  }

  .newsletter .subscribe-box,
  .newsletter .img {
    width: 100%;
  }

  .newsletter .subscribe-box {
    padding: 24px;
  }

  .newsletter-container .img .move {
    left: 40%;
    bottom: 130px;
    width: 310px;
    height: 79.268px;
    transform: rotate(-19deg);
  }

  .newsletter-container .img .move h4 {
    font-size: 17px;
  }

  .newsletter-container .img .move h5 {
    font-size: 12px;
  }
  /* Footer Section */
  footer {
    width: auto;
    padding: 50px 44px 20px 44px;
  }

  .footer-area p {
    width: 100%;
    font-size: 14px;
  }
  .foot-title {
    gap: 8px;
  }
  .foot-title h2 {
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 0;
  }

  .foot-title img {
    width: 28.724px;
    height: 33.516px;
  }
  hr {
    margin: 24px 0;
  }
}
